{% extends 'base.html' %}

{% block title %}Заявки{% endblock title %}

{% block content %}
    {% if is_empty %}
        <h2>Пока приглашений нету</h2>
    {% endif %}
    {% for item in qs  %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img src="{{ item.avatar_image.url}}" alt="" class="ui circular small image">
                    </div>
                    <div class="thirteen wide column">
                        <h3>{{item.user}}</h3>
                        <p>{{item.bio}}</p>
                        <a href="">
                            <button class="ui primary button w-big mb-5">Просмотреть профиль</button>
                        </a>
                        <form action="{% url 'profiles:accept-invite'%}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{item.pk}}>
                            <button type="submit" class="ui positive basic button w-big mb-5">
                                <i class="check icon"></i>
                                Принять заявку
                            </button>
                        </form>
                        <form action="{%url 'profiles:reject-invite'%}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{item.pk}}>
                            <button type="submit" class="ui negative basic button w-big mb-5">
                                <i class="close icon"></i>
                                Отклонить заявку
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}